# --- Python Cache ---
__pycache__/
*.pyc
*.pyo

# --- Blender spezifisch ---
*.blend1
*.blend2
*.blend@
*.blend~
*.blend.save
*.blend.tmp

# Autosave
*.autosave

# --- Logs / Temp ---
*.log
*.tmp
*.bak

# --- OS / Editor ---
# macOS
.DS_Store

# Windows
Thumbs.db
desktop.ini

# VSCode
.vscode/

# PyCharm / JetBrains
.idea/

# --- Build Artefakte ---
build/
dist/
*.egg-info/

# --- Wheels ---
# Wheels are needed for the extension. Blender needs them